<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="styles/main.css" rel="stylesheet" />
    <script src="cordova.js"></script>
    <script src="kendo/js/jquery.min.js"></script>
    <script src="kendo/js/kendo.mobile.min.js"></script>
    <script src="kendo/js/kendo.dataviz.mobile.min.js"></script>

	<script src="scripts/app-execution.js"></script>
	<script src="https://bs-static.cdn.telerik.com/1.4.1/everlive.all.min.js"></script>
    <script src="scripts/app.js"></script>
    <script type="text/javascript" charset="utf-8" src="scripts/fileHelper.js"></script>
</head>

<body>

<script>
var fileName = "application-configuration.json";
var counter = 1;
var limit = 7;
var settingsData = readTextFromFile(fileName);
var initialData; 
//settingsData = JSON.parse(settingsData);

function saveData()
{
	readTextFromFile(fileName);
}

function readTextFromFile(filename)
	{
		fileSystemHelper = new FileSystemHelper();
		console.log("file read");
		var data = fileSystemHelper.readTextFromFile(fileName, function(result){
			console.log(result);
			initialData = JSON.parse(result);
			var username = initialData.serverinfo.username;
			document.getElementById("username").value = username;
			var password = initialData.serverinfo.password;
			document.getElementById("password").value = password;
			var servername = initialData.serverinfo.server;
			document.getElementById("server").value = servername;
			var tomcatPort = initialData.serverinfo.tomcatport;
			document.getElementById("tomcatport").value = tomcatPort;
			var webapp = initialData.serverinfo.tomcatwebapp;
			document.getElementById("tomcatwebapp").value = webapp;
			return result;
		}, 
		function(error){
			console.log("file failed to read");
			//console.log("read file failed");
		});
	};

function addInput(divName){
     if (counter >= limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");
     }
     else {
          var newdiv = document.createElement('fieldset');
		  var divString = "<legend>Running API " + (counter + 1) + '</legend><div><label>Type: <input type="text" name="TypeInput[]" id="type' + (counter + 1) + '"></label></div><div><label>API Name: <input type="text" name="ApiNameInput[]" id="apiname' + (counter + 1) + '"></label></div><div><label>API: <input type="text" name="ApiInput[]" id="api' + (counter + 1) +'"></label></div>';
          newdiv.innerHTML = divString;
          document.getElementById(divName).appendChild(newdiv);
          counter++;
     }
}

function writeToFile(filename, jsonSettings){
		fileSystemHelper = new FileSystemHelper();
		fileSystemHelper.writeLine(fileName, jsonSettings, 
		function(result){
			console.log("file created");
			return true;
		},
		function(error){
			console.log("file create failed");
			return false;
		});
	}
	
function generateSettings(){
	var serverinfo = '{ "serverinfo": { "username ": "' + document.getElementById("username").value + '", ';
	serverinfo += '"password" : "' + document.getElementById("password").value + '", ';
	serverinfo += '"server" : "' + document.getElementById("server").value + '", ';
	serverinfo += '"tomcatport" : "' + document.getElementById("tomcatport").value + '", ';
	serverinfo += '"tomcatwebapp" : "' + document.getElementById("tomcatwebapp").value + '" }';
	var api = ', "apis": [ ';
	for (i = 0; i < counter; i++) 
	{
		var t = "type"+(i+1);
		var n = "apiname"+(i+1);
		var a = "api"+(i+1);
		api += '{ "type" : "' + document.getElementById(t).value + '", ';
		api += ' "name" : "' + document.getElementById(n).value + '", ';
		api += ' "api" : "' + document.getElementById(a).value + '"}';
		if (i < counter - 1)
		{
			api += ', ';
		}
	}
	api += '] }';
	
	serverinfo = serverinfo + api;
	writeToFile(fileName, serverinfo);
	
}
	
</script>

<div data-role="view" data-title="Settings" data-layout="main" data-model="addSettingsViewModel">
<form method="POST" id="settingsForm">
	<fieldset>
		<legend>Server Information</legend>
		<div><label for="username">Username:</label></div>
		<input type="text" name="username" id="username"><br>
		
		<div><label for="password">Password:</label></div>
		<input type="password" name="password" id="password"><br>
		
		<div><label for="server">Server:</label></div>
		<input type="text" name="server" id="server"><br>
		
		<div><label for="tomcatport">Tomcat Port:</label></div>
		<input type="text" name="tomcatport" id="tomcatport"><br>
		
		<div><label for="tomcatwebapp">Tomcat WebApp:</label></div>
		<input type="text" name="tomcatwebapp" id="tomcatwebapp"><br>
	</fieldset>
	<div id="dynamicInput">
	<fieldset>
		<legend>Running API 1</legend>
			<div><label>Type: <input type="text" name="TypeInput[]" id="type1"></label></div>
			<div><label>API Name: <input type="text" name="ApiNameInput[]" id="apiname1"></label></div>
			<div><label>API: <input type="text" name="ApiInput[]" id="api1"></label><br /></div>	
	</fieldset>
	</div>
	
	<input type="button" value="Add another text input" onClick="addInput('dynamicInput');">
</form>
	<button type="button" id="btnSave" value="Save" onClick="generateSettings()">Submit</button>
</div>

</body>

</html>