<div data-role="view" id="login" data-title="Login" data-layout="main" data-model="APP.models.login">
    <form>
        <ul data-role="listview" data-style="inset">
            <li>
                <label>
                    Username:
                    <!-- <input type="text" name="username" data-bind="value: username" > -->
                    <input type="text" name="username" id="username" value="mfg@qad.com">
                </label>
            </li>
            <li>
                <label>
                    Password:
                    <input type="password" name="password" id="password" data-bind="value: password">
                </label>
            </li>
            <li>
                <button style="width: 100%" data-role="button" data-bind="click: submit">Login</button>
                <button style="width: 100%" data-role="button" data-bind="click: signInButton">Run Speedtest</button>
            </li>
        </ul>
    </form>
	<p id="test-results" data-style="inset"></p>
</div>