
<script>
	var fileName = "test.json";
	var settingsObject;
	var out = "<table>";
	
	readTextFromFile(fileName);
	
	function readTextFromFile(filename)
	{
		fileSystemHelper = new FileSystemHelper();
		var data = fileSystemHelper.readTextFromFile(fileName, 
		function(result){
			var test = JSON.stringify(result);
			console.log(test);
			//console.log(test[1][0].username);
			var i;
			out = "<table>";
			for(i = 0; i < test.length; i++) {
			out += "<tr><td>" +
			test.username +
			"</td><td>" +
			test.server +
			"</td><td>" +
			test.tomcatport +
			"</td></tr>";
			}
		out += "</table>";
		//document.getElementById("settingsDisplay").innerHTML = out;
		document.getElementById("settingsDisplay").innerHTML = test;
			return result;
		}, 
		function(error){
			console.log("read file failed");
			return 0;
		});
	};        
	
</script>

<script type="text/x-kendoui-template" id="settings-template">
  <div 
    data-role="listview"
    data-bind="source: settingsDataSource"
  ></div>
</script>


<div id="settings" data-role="view" data-style="inset" data-title="Settings" data-layout="main" data-model="settingsViewModel">
    <header data-role="header">
        <div id="navbarplain" data-role="navbar">
			<img id="corplogo" src="../styles/images/QAD_Logo_Corp.png" data-align="left"
			style="width: 50px; height: 45px; margin-top: 0.2em"/>
            <a id="newSettings" data-role="button" href="views/addSettings.html" data-align="right">Add</a>
            <span data-role="view-title"></span>
        </div>
    </header>
	<p id="settingsDisplay" data-style="inset"></p>
</div>
