<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="styles/main.css" rel="stylesheet" />
    <script src="cordova.js"></script>
    <script src="kendo/js/jquery.min.js"></script>
    <script src="kendo/js/kendo.mobile.min.js"></script>
    <script src="kendo/js/kendo.dataviz.mobile.min.js"></script>

	<script src="scripts/app-execution.js"></script>
	<script src="https://bs-static.cdn.telerik.com/1.4.1/everlive.all.min.js"></script>
    <script src="scripts/app.js"></script>
    <script type="text/javascript" charset="utf-8" src="scripts/fileHelper.js"></script>
</head>

<body>

<script>
var originalfileName = "application-configuration.json"; //need to edit this so it appends and not overwrites
var counter = 1;
var limit = 40;
readTextFromFile(originalfileName);
var initialData;
var currentData;

function ifNoFile()
{
	var json = '{"serverinfo": {"username": "mfg@qad.com","password": "","server": "plli03.qad.com:40011","tomcatwebapp": "qad-central"},';
	json += '"apis": [{"type": "POST","name": "Login","api": "j_spring_security_check?j_username=mfg@qad.com&j_password="},';
	json += '{"type": "GET","name": "Menus","api": "api/webshell/menu"},';
	json += '{"type": "GET","name": "Sales-100","api": "api/qracore/browses?browseId=mfg:so803&page=1&pageSize=100"},';
	json += '{"type": "GET","name": "Sales-10","api": "api/qracore/browses?browseId=mfg:so803&page=1&pageSize=10"},';
	json += '{"type": "GET","name": "Item-100","api": "api/qracore/browses?browseId=mfg:gp340&page=1&pageSize=100"},';
	json += '{"type": "GET","name": "Item-10","api": "api/qracore/browses?browseId=mfg:gp340&page=1&pageSize=10"},';
	json += '{"type": "GET","name": "Item-Count","api": "api/qracore/browses/totalCount/?browseId=mfg:gp340"}]}';
	writeToFile(originalfileName, json);
}

function readTextFromFile(filename)
	{
		fileSystemTest = new FileSystemHelper();
		counter = 1;
		fileSystemHelper = new FileSystemHelper();
		fileSystemHelper.readTextFromFile(filename, function(result){
			initialData = JSON.parse(result);
			var username = initialData.serverinfo.username;
			document.getElementById("username").value = initialData.serverinfo.username;
			document.getElementById("server").value = initialData.serverinfo.server;
			document.getElementById("tomcatwebapp").value = initialData.serverinfo.tomcatwebapp;
			document.getElementById("test-results").innerHTML = "Server Information Updated";
			document.getElementById("update-details").innerHTML = "";
		},
		function(error){
			console.log("file failed to read");
			ifNoFile();
		});
	};

function updateServerInformation(){
	fileSystemHelper = new FileSystemHelper();
	fileSystemHelper.readTextFromFile("application-configuration.json", function(result){
	updateServerData = JSON.parse(result);
	updateServerData.serverinfo.username = document.getElementById("username").value;
	updateServerData.serverinfo.password = document.getElementById("password").value;
	updateServerData.serverinfo.server = document.getElementById("server").value;
	updateServerData.serverinfo.tomcatwebapp = document.getElementById("tomcatwebapp").value;
	writeToFile("application-configuration.json", JSON.stringify(updateServerData));
	document.getElementById("update-details").innerHTML = "Server Information Updated";

	},function(error){console.log("file failed to read");});

}

function addNewBrowse(){
	var browsePrefix="api/qracore/browses?browseId="
	fileSystemHelper = new FileSystemHelper();
	fileSystemHelper.readTextFromFile("application-configuration.json", function(result){
	addNewAPI = JSON.parse(result);
	addNewAPI.apis.push({ type : "GET",name : document.getElementById("browse-name").value,api : browsePrefix + document.getElementById("browse").value});
	writeToFile("application-configuration.json", JSON.stringify(addNewAPI));
	document.getElementById("update-details").innerHTML = "Browse: " + document.getElementById("browse-name").value + " Added";
	document.getElementById("browse").value = "";
	document.getElementById("browse-name").value = "";

	},function(error){console.log("file failed to read");});

	browse-name

}

function addInput(divName){
     if (counter >= limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");
     }
     else {
          var newdiv = document.createElement('fieldset');
		  var divString = "<legend>Running API " + (counter) + '</legend><div><label>Type: <input type="text" name="TypeInput[]" id="type' + (counter) + '"></label></div><div><label>API Name: <input type="text" name="ApiNameInput[]" id="apiname' + (counter) + '"></label></div><div><label>API: <input type="text" name="ApiInput[]" id="api' + (counter) +'"></label></div>';
          newdiv.innerHTML = divString;
          document.getElementById(divName).appendChild(newdiv);
          counter++;
     }
}

function writeToFile(filename, jsonSettings){
		fileSystemHelper = new FileSystemHelper();
		fileSystemHelper.writeLine(filename, jsonSettings,
		function(result){
			console.log("file created");
			return true;
		},
		function(error){
			console.log("file create failed");
			return false;
		});
	}

function generateNewSettings(){
	var itterationCounter = 0;
	var serverinfo = '{ "serverinfo": { "username": "' + document.getElementById("username").value + '", ';
	serverinfo += '"password" : "' + document.getElementById("password").value + '", ';
	serverinfo += '"server" : "' + document.getElementById("server").value + '", ';
	serverinfo += '"tomcatport" : "' + document.getElementById("tomcatport").value + '", ';
	serverinfo += '"tomcatwebapp" : "' + document.getElementById("tomcatwebapp").value + '" }';
	var api = ', "apis": [ ';
	for (itterationCounter = 0; itterationCounter < counter; itterationCounter++)
	{
		var t = "type"+(itterationCounter+1);
		var n = "apiname"+(itterationCounter+1);
		var a = "api"+(itterationCounter+1);
		if (document.getElementById(t) != null && document.getElementById(t).value != "" && document.getElementById(n) != null && document.getElementById(n).value != "" && document.getElementById(a) != null && document.getElementById(a).value != "")
		{
			if (itterationCounter >= 1)
			{
				api += ',';
			}
			api += '{ "type" : "' + document.getElementById(t).value + '", ';
			api += ' "name" : "' + document.getElementById(n).value + '", ';
			api += ' "api" : "' + document.getElementById(a).value + '"}';
		}
	}
	api += '] }';

	serverinfo = serverinfo + api;
	writeToFile(originalfileName, serverinfo);
	itterationCounter = 0;
}

</script>

<div data-role="view" data-title="Settings" data-layout="main" data-model="addSettingsViewModel">
    <header data-role="header">
        <div id="navbarplain" data-role="navbar">
			<img id="corplogo" src="../styles/images/QAD_Logo_Corp.png" data-align="left"
			style="width: 50px; height: 45px; margin-top: 0.2em"/>
            <span data-role="view-title"></span>
        </div>
    </header>
		<form method="POST" id="settingsForm">
			<br>
			<fieldset id="newSettings">
				<legend>Server Information</legend>
				<div><label for="username">Username:</label></div>
				<input type="text" name="username" id="username" size="30" maxlength="30"><br>

				<div><label for="password">Password:</label></div>
				<input type="password" name="password" id="password" size="30" maxlength="30"><br>

				<div><label for="server">Server:</label></div>
				<input type="text" name="server" id="server" size="30" maxlength="30"><br>

				<div><label for="tomcatwebapp">Tomcat WebApp:</label></div>
				<input type="text" name="tomcatwebapp" id="tomcatwebapp" size="30" maxlength="30"><br>
			</fieldset>
			<a data-role="button" id="btnSave" onClick="updateServerInformation();" data-align="right">Save Server Information</a>
			<br>
			<br>

			<fieldset id="new-api">
				<legend>Add New Browse</legend>
							<div><label for="browse-name">Browse:</label></div>
							<input type="text" name="browse" id="browse" placeholder="eg.mfg:gp348&page=1&pageSize=100"  size="30" maxlength="30" height="50"><br>

							<div><label for="server">Name:</label></div>
							<input type="text" name="browse-name" id="browse-name" placeholder="eg. Site-100" usrname" maxlength="10" size="10"><br>
			</fieldset>
		</form>
		<a data-role="button" id="btnSave" onClick="addNewBrowse();" data-align="right">Save API</a>

		<p id="update-details" data-style="inset"></p>
		<div data-role="footer">
			<div data-role="tabstrip">
				<a href="views/runTest.html" data-icon="home">RunTest</a>
				<a href="views/results.html" data-icon="globe">Results</a>
				<a href="views/settingsDisplayAndEdit.html" data-icon="settings">Settings</a>
			</div>
		<div>
	</div>
</div>

</body>

</html>