
<script>
	var fileName = "application-configuration.json";
	var settingsObject;
	var out = "<table>";
	
	readTextFromFile(fileName);
	
	function readTextFromFile(filename)
	{
		fileSystemHelper = new FileSystemHelper();
		var data = fileSystemHelper.readTextFromFile(fileName, 
		function(result){
			//console.log(result);
			var test = JSON.parse(result);
			//console.log(test);
			var i;
			out = '<table id="settingsTable"><caption>Server Information</caption>';
			out += "<tr><td> Username: " + 
			test.serverinfo.username;
			out += "<tr><td> Password: " + 
			test.serverinfo.password;
			out += "<tr><td> Server: " + 
			test.serverinfo.server;
			out += "<tr><td> Port: " + 
			test.serverinfo.tomcatport;
			out += "<tr><td> Tomcat Webapp: " + 
			test.serverinfo.tomcatwebapp;
			out += '</td></table><p></p><table id="settingsTable"><caption>Running APIs</caption>';
			for (i = 0; i < test.apis.length; i++) {
			out += '<tr><td id="tableBreak">API no:' + (i+1) + 
				" </td><td>";
			out += "<tr><td> Name: " +
				test.apis[i].name +
				"</td><td>";
			out += "<tr><td> Type: " +
				test.apis[i].type +
				"</td><td>";
			out += "<tr><td> API: " +
				test.apis[i].api +
				"</td><td>";
			}
			out += "</table>";
		document.getElementById("settingsDisplay").innerHTML = out;
		return result;
		}, 
		function(error){
			console.log("read file failed");
			return 0;
		});
	};        
	
</script>

<div id="settings" data-role="view" data-style="inset" data-title="Settings" data-layout="main" data-model="settingsViewModel">
    <header data-role="header">
        <div id="navbarplain" data-role="navbar">
			<img id="corplogo" src="../styles/images/QAD_Logo_Corp.png" data-align="left"
			style="width: 50px; height: 45px; margin-top: 0.2em"/>
            <a id="newSettings" data-role="button" href="views/addSettings.html" data-align="right">Add</a>
            <span data-role="view-title"></span>
        </div>
    </header>
	<p id="settingsDisplay" data-style="inset"></p>
</div>
