<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="styles/main.css" rel="stylesheet" />
    <script src="cordova.js"></script>
    <script src="kendo/js/jquery.min.js"></script>
    <script src="kendo/js/kendo.mobile.min.js"></script>
    <script src="kendo/js/kendo.dataviz.mobile.min.js"></script>

	<script src="scripts/app-execution.js"></script>
	<script src="https://bs-static.cdn.telerik.com/1.4.1/everlive.all.min.js"></script>
    <script src="scripts/app.js"></script>
    <script type="text/javascript" charset="utf-8" src="scripts/fileHelper.js"></script>
</head>

<body>

<script>
var originalfileName = "application-configuration.json"; //need to edit this so it appends and not overwrites
var counter = 1;
var limit = 40;
readTextFromFile(originalfileName);
var initialData;
var currentData;

function readTextFromFile(filename)
	{
		counter = 1;
		fileSystemHelper = new FileSystemHelper();
		console.log("file read success");
		fileSystemHelper.readTextFromFile(filename, function(result){
			initialData = JSON.parse(result);
			var username = initialData.serverinfo.username;
			document.getElementById("username").value = username;
			document.getElementById("staticUserName").innerHTML = username;
			var password = initialData.serverinfo.password;
			document.getElementById("password").value = password;
			document.getElementById("staticPassword").innerHTML = password;
			var servername = initialData.serverinfo.server;
			document.getElementById("server").value = servername;
			document.getElementById("staticServer").innerHTML = servername;
			var tomcatPort = initialData.serverinfo.tomcatport;
			document.getElementById("tomcatport").value = tomcatPort;
			document.getElementById("staticTomcatPort").innerHTML = tomcatPort;
			var webapp = initialData.serverinfo.tomcatwebapp;
			document.getElementById("tomcatwebapp").value = webapp;
			document.getElementById("staticTomcatWebapp").innerHTML = webapp;

			var out = "";
			for (i = 0; i < initialData.apis.length; i++) {
			out += "<fieldset>"
			out += '<legend>Running API ' + (i + 1) + '</legend>';
			out += '<div><label>Type: <input type="text" name="TypeInput[]" id="type' + (i + 1) + '" value="' + initialData.apis[i].type + '"></label></div>';
			out += '<div><label>API Name: <input type="text" name="ApiNameInput[]" id="apiname' + (i + 1) + '" value="' + initialData.apis[i].name + '"></label></div>';
			out += '<div><label>API: <input type="text" name="ApiInput[]" id="api' + (i + 1) + '" value="' + initialData.apis[i].api + '"></label></div>';
			counter++;
			out += "</fieldset>"
			}			
			document.getElementById("initialApiList").innerHTML = out;
		}, 
		function(error){
			console.log("file failed to read");
		});
	};

function addInput(divName){
     if (counter >= limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");
     }
     else {
          var newdiv = document.createElement('fieldset');
		  var divString = "<legend>Running API " + (counter) + '</legend><div><label>Type: <input type="text" name="TypeInput[]" id="type' + (counter) + '"></label></div><div><label>API Name: <input type="text" name="ApiNameInput[]" id="apiname' + (counter) + '"></label></div><div><label>API: <input type="text" name="ApiInput[]" id="api' + (counter) +'"></label></div>';
          newdiv.innerHTML = divString;
          document.getElementById(divName).appendChild(newdiv);
          counter++;
     }
}

function writeToFile(filename, jsonSettings){
		fileSystemHelper = new FileSystemHelper();
		fileSystemHelper.writeLine(filename, jsonSettings, 
		function(result){
			console.log("file created");
			readTextFromFile(filename);
			return true;
		},
		function(error){
			console.log("file create failed");
			return false;
		});
	}

function generateNewSettings(){
	var itterationCounter = 0;
	originalfileName = "application-configuration.json";
	var serverinfo = '{ "serverinfo": { "username": "' + document.getElementById("username").value + '", ';
	serverinfo += '"password" : "' + document.getElementById("password").value + '", ';
	serverinfo += '"server" : "' + document.getElementById("server").value + '", ';
	serverinfo += '"tomcatport" : "' + document.getElementById("tomcatport").value + '", ';
	serverinfo += '"tomcatwebapp" : "' + document.getElementById("tomcatwebapp").value + '" }';
	var api = ', "apis": [ ';
	for (itterationCounter = 0; itterationCounter < counter; itterationCounter++) 
	{
		var t = "type"+(itterationCounter+1);
		var n = "apiname"+(itterationCounter+1);
		var a = "api"+(itterationCounter+1);
		if (document.getElementById(t) != null && document.getElementById(t).value != "" && document.getElementById(n) != null && document.getElementById(n).value != "" && document.getElementById(a) != null && document.getElementById(a).value != "")
		{
			if (itterationCounter >= 1)
			{
				api += ',';
			}
			api += '{ "type" : "' + document.getElementById(t).value + '", ';
			api += ' "name" : "' + document.getElementById(n).value + '", ';
			api += ' "api" : "' + document.getElementById(a).value + '"}';
		}
	}
	api += '] }';
	
	serverinfo = serverinfo + api;
	writeToFile(originalfileName, serverinfo);
	itterationCounter = 0;
}
	
</script>

<div data-role="view" data-title="Settings" data-layout="main" data-model="addSettingsViewModel">
    <header data-role="header">
        <div id="navbarplain" data-role="navbar">
			<img id="corplogo" src="../styles/images/QAD_Logo_Corp.png" data-align="left"
			style="width: 50px; height: 45px; margin-top: 0.2em"/>
			<a data-role="button" id="btnSave" onClick="generateNewSettings();" href="views/settingsDisplayAndEdit.html" data-align="right">Update</a>
            <span data-role="view-title"></span>
        </div>
    </header>
		<form method="POST" id="settingsForm">
			<fieldset id="newSettings">
				<legend>Server Information</legend>
				<div><label for="username">Username:</label></div>
				<input type="text" name="username" id="username"><br>
				
				<div><label for="password">Password:</label></div>
				<input type="password" name="password" id="password"><br>
				
				<div><label for="server">Server:</label></div>
				<input type="text" name="server" id="server"><br>
				
				<div><label for="tomcatport">Tomcat Port:</label></div>
				<input type="text" name="tomcatport" id="tomcatport"><br>
				
				<div><label for="tomcatwebapp">Tomcat WebApp:</label></div>
				<input type="text" name="tomcatwebapp" id="tomcatwebapp"><br>
			</fieldset>
			<fieldset id="appendSettings" style="display:none;">
				<legend>Server Information</legend>
				<div><label for="staticUserName">Username:</label><div id="staticUserName"></div>
				
				<label for="password">Password:</label><div id="staticPassword"></div>
				
				<label for="server">Server:</label><div id="staticServer"></div>
				
				<label for="tomcatport">Tomcat Port:</label><div id="staticTomcatPort"></div>
				
				<label for="tomcatwebapp">Tomcat WebApp:</label><div id="staticTomcatWebapp"></div>
			</fieldset>
			<div id="initialApiList">
			
			</div>
			<div id="dynamicInput">

			</div>
			

		</form>
		<div data-role="footer">
			<input type="button" id="dynamicApi"value="Add another API" onClick="addInput('dynamicInput');">
			<div data-role="tabstrip">
				<a href="views/runTest.html" data-icon="home">RunTest</a>
				<a href="views/results.html" data-icon="globe">Results</a>
				<a href="views/settings.html" data-icon="settings">Settings</a>
			</div>
		<div>
	</div>	
</div>

</body>

</html>